* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 60px;
}

/* HERO */
.hero {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}

.hero-text {
    flex: 1;
}
.hero-text h1{
    padding: 30px 0px;
}
.hero-text p{
    padding: 30px 0px;
}

.hero-img {
    flex: 1;
}

.hero-img img {
    width: 100%;
}

/* FEATURES */
.features h2 {
    margin-bottom: 30px;
}

.feature-box {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}
.box1 h3{
padding: 30px 0px;
}
.box2 h3{
    padding: 30px 0px;
}
.box3 h3 {
    padding: 30px 0px;
}

/* TESTIMONIAL */
.testimonial {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}
.testimonial1 p{
    padding: 30px 0px;
}

.testimonial img {
    width: 300px;
}

/* PRODUCTS */
.product-box {
    display: flex;
    gap: 30px;
}
.products h2{
    padding: 30px 0px;
}
.products p{
    /* padding: 30px 0px; */
}
.card h3{
padding: 10px 0;
}
.card p{
padding: 10px 0;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card a {
    color: blue;
    padding: 0px 90px;
}
/* footer */
.footer{
    padding: 50px 0px;
}